@model IEnumerable<Company>

<div class="container p-0">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Company List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> Create New Company
            </a>
        </div>
    </div>
</div>
<table class="table table-hover table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(c => c.Name)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Address)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Country)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.City)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <partial name="_CompanyDataTables" />
}