@model UserViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row">
            <h2 class="text-primary">Edit User Role</h2>
            <hr />
        </div>
        <input asp-for="User.Id" hidden />
        <input asp-for="User.OldRoleId" hidden/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="User.FullName"></label>
            <input asp-for="User.FullName" class="form-control" />
            <span asp-validation-for="User.FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.Role"></label>
            <select asp-for="User.Role" asp-items="@Model.Roles" class="form-control">
                <option disabled selected>Select Role</option>
            </select>
            <span asp-validation-for="User.Role" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 text-start">
                <button type="submit" class="btn btn-primary">Edit Role</button>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}