@model BookViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row">
            @if (Model.Book.Id != 0)
            {
                <h2 class="text-primary">Edit Book</h2>
            }
            else
            {
                <h2 class="text-primary">Create Book</h2>
            }
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Book.Id" hidden />
        <input asp-for="Book.CoverImageUrl" hidden />
        <div class="mb-3">
            <label asp-for="Book.Title"></label>
            <input asp-for="Book.Title" class="form-control" />
            <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
        @if (Model.Book.CoverImageUrl != null)
        {
            <div class="mb-3">
                <label asp-for="Book.CoverImageUrl"></label>
                <img src="@Model.Book.CoverImageUrl" style="display: block; width: 50%;" />
            </div>
        }
        <div class="mb-3">
            <label asp-for="Book.Author"></label>
            <input asp-for="Book.Author" class="form-control" />
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.Description"></label>
            <textarea asp-for="Book.Description" class="form-control"></textarea>
            <span asp-validation-for="Book.Description" id="description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.ISBN"></label>
            <input asp-for="Book.ISBN" class="form-control" />
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.ListPrice"></label>
            <input asp-for="Book.ListPrice" class="form-control" />
            <span asp-validation-for="Book.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.DiscountedPrice"></label>
            <input asp-for="Book.DiscountedPrice" class="form-control" />
            <span asp-validation-for="Book.DiscountedPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.AvailableQuantity"></label>
            <input asp-for="Book.AvailableQuantity" class="form-control" />
            <span asp-validation-for="Book.AvailableQuantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.PublicationDate"></label>
            <input asp-for="Book.PublicationDate" class="form-control" />
            <span asp-validation-for="Book.PublicationDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="File"></label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.CategoryId"></label>
            <select asp-for="Book.CategoryId" asp-items="Model.CategoryList" class="form-control">
                <option disabled selected>Select Category</option>
            </select>
            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 text-start">
                @if (Model.Book.Id != 0)
                {
                    <button type="submit" id="submit" class="btn btn-primary">Edit</button>
                }
                else
                {
                    <button type="submit" id="submit" class="btn btn-primary">Create</button>
                }
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Book" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="_TinyMCE" />
    }
}